name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Python
        run: |
          sudo apt update
          sudo apt install -y python3-pip git zip unzip
          pip install --upgrade pip
          pip install buildozer==1.4.0 cython

      - name: Build APK
        run: |
          buildozer android debug

      - uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: bin/*.apk
